.photographer-card {
  max-width: 400px;
  width: fit-content;
  text-align: center;
  padding: 15px 0;

  margin: 30px 60px;
  @media (max-width: $breakpoint-minTablet) {
    margin: 10px auto;
  }

  &-name {
    cursor: pointer;

    & img {
      max-width: 240px;
      max-height: 240px;
      min-width: 240px;
      min-height: 240px;
      object-fit: cover;
      border-radius: 50%;
      margin-left: 0;
    }
  }

  &-desc {
    margin-bottom: 5px;
  }
}
