.photographerNumbers {
  @media (max-width: $breakpoint-minMobile) {
    display: none;
  }

  @media (max-width: $breakpoint-minTablet) {
    //bottom: 94%;
    left: calc(50% + 90px);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

    width: 250px;
    font-size: 20px;
    padding: 20px 30px;
  }

  background-color: $color-secondaryFilled-background;
  color: $color-secondaryFilled-text;
  font-size: 24px;
  font-weight: 500;
  width: 380px;

  display: flex;
  justify-content: space-around;

  padding: 20px 30px;

  border-top-left-radius: 5px;
  border-top-right-radius: 5px;

  position: fixed;
  bottom: 0%;
  left: calc(50% + 200px);
}
