.selectMenu {
  @media (max-width: $breakpoint-minMobile) {
    display: none;
  }

  margin: 0 50px;
  margin-bottom: 40px;
  display: flex;

  & label {
    font-weight: bold;
    font-size: 18px;
    line-height: 23px;
    color: $color-secondaryFilled-text;
    margin-right: 40px;
    padding-top: 7px;
  }

  & select,
  option {
    background-color: $color-primaryFilled-background;
    color: $color-primaryFilled-text;
    width: 170px;
    height: 55px;
    padding-left: 15px;
    font-size: 18px;
  }

  & select {
    border-radius: 5px;
  }
}
