// @import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  width: 100vw;
  min-width: 320px;
  max-width: 1440px;
  margin: auto;
}

* {
  font-family: "DM Sans", sans-serif;
}

h1 {
  color: $color-secondaryEmpty-text;
  font-size: 36px;
  font-weight: 400;

  @media (max-width: $breakpoint-minMobile) {
    font-size: 14px;
  }
}

h2 {
  color: $color-primaryVoid-text;
  font-size: 36px;
  font-weight: 400;
}

strong {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  color: $color-secondaryEmpty-text;
}

em {
  font-style: normal;
  font-size: 9px;
  color: $color-secondaryLightFill-text;
}

p {
  font-size: 10px;
}

a {
  text-decoration: none;
  color: inherit;
}

.invisible {
  font-size: 0;
}
