.photographProfile {
  padding: 10px 0;
  margin: 30px 10px;

  background-color: $color-secondaryLightFill-background;
  border-radius: 5px;

  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint-minMobile) {
    background-color: $color-primaryVoid-background;
    margin: 0;
  }

  & .tagList {
    justify-content: flex-start;

    & li {
      font-size: 18px;
      font-weight: bold;
      @media (max-width: $breakpoint-minMobile) {
        font-size: 13px;
        font-weight: bold;
      }
    }
  }

  &-desc {
    margin-left: 40px;

    @media (max-width: $breakpoint-minMobile) {
      margin-left: 20px;
    }

    & h1 {
      color: $color-primaryVoid-text;
      font-size: 64px;

      @media (max-width: $breakpoint-minMobile) {
        font-size: 36px;
      }
    }

    & p {
      font-size: 18px;
      color: $color-secondaryLightFill-text;
      margin-bottom: 20px;
      color: $color-photographPersonalSentence;

      @media (max-width: $breakpoint-minMobile) {
        font-size: 13px;
        margin-bottom: 9px;
      }

      & strong {
        font-size: 24px;
        display: inline-block;
        margin: 4px 0;

        @media (max-width: $breakpoint-minMobile) {
          font-size: 13px;
        }
      }
    }
  }

  &-button {
    background-color: $color-primaryFilled-background;
    color: $color-primaryFilled-text;
    border-radius: 5px;

    font-size: 20px;
    font-weight: bold;
    padding: 20px 25px;
    max-height: 60px;

    margin-top: 20px;
    cursor: pointer;

    display: flex;
    align-items: center;
    text-align: center;

    &:hover {
      background-color: $color-secondaryFilled-background;
      color: $color-secondaryFilled-text;
    }

    @media (max-width: $breakpoint-minTablet) {
      position: fixed;
      bottom: 30px;
      left: calc(50% - 85px);
      width: 170px;
      font-size: 18px;
    }
  }

  &-photo {
    & img {
      max-width: 240px;
      max-height: 240px;
      min-width: 240px;
      min-height: 240px;
      object-fit: cover;
      border-radius: 50%;
      margin-right: 40px;

      @media (max-width: $breakpoint-minMobile) {
        max-width: 100px;
        max-height: 100px;
        min-width: 100px;
        min-height: 100px;
        object-fit: cover;
        border-radius: 50%;
        margin-right: 20px;
      }
    }
  }
}

.gallery {
  margin: 0 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (max-width: $breakpoint-minMobile) {
    margin: 0 10px;
    flex-direction: column;
    align-content: space-around;
  }
}
