$color-primaryFilled-background: #901c1c;
$color-primaryFilled-text: #ffffff;

$color-primaryVoid-background: #ffffff;
$color-primaryVoid-text: #d3573c;
$color-secondaryFilled-background: #db8876;
$color-secondaryFilled-text: #000000;

$color-secondaryLightFill-background: #fafafa;
$color-secondaryLightFill-text: #525252;

$color-secondaryEmpty-background: #ffffff;
$color-secondaryEmpty-text: #901c1c;

$color-photographPersonalSentence: #757575;

// Breakpoints
$breakpoint-maxDesktop: 1440px;
$breakpoint-minTablet: 1215px;
$breakpoint-minMobile: 425px;
